<h3>Admin Portal</h3>

<ul>
  <% @doctors.each do |doctor| %>
    <li>  <%= doctor.name %> </li>
  <% end %>
</ul>

<form class="form-group" action="/admin" method="post">
  <h4>Add new doctor:</h4>
  <div class="">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <div class="">
    <label for="specialty">Specialty</label>
    <input type="text" name="specialty" id="specialty">
  </div>
  <button type="submit" class="btn btn-success" name="button">Add Doctor</button>
</form>
